//login page
html,
body {
	// background-color: #b3b3b3; grey standard color
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(1,61,121,1), rgba(0, 113, 179, 0.9), rgba(91, 178, 213, 0.9), rgba(255,255,255,0.4)), url(https://hd.unsplash.com/photo-1455735459330-969b65c65b1c); 
	#login_container {
		margin: auto;
  		position: absolute;
  		top: 0; left: 0; bottom: 0; right: 0;
		box-shadow: 0 0 3em #000000; 
		height: 30%;
		width: 75%;
		img {
			height: 100%;
			width: 55%;
			-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    		// filter: grayscale(100%);
 			object-fit: cover;
  		}
		#submit_container {
			background-color: $accent-color;
			height: 100%;
			width: 15%;
			float: right;
			text-align: center;
			margin: auto;
			// vertical-align: middle;

  		
  		
		}
		#login {
			background-color: $primary-color;
			height: 100%;
			width: 30%;
			float: right;
			font-family: 'Roboto', sans-serif;
			


			input.form-control {
				width: 80%;
				margin:1em 2em 2em 2em;
				background-color: $grey-color;
				
			}
		}
	}
}

p {
	color: $accent-color;
	font-size: 2em;
	letter-spacing: -1px;
	text-align: center;
	margin-top: .5em;


}

button.btn.btn-primary {
	background-color: $grey-color;
	border-color: $grey-color;
	color: $primary-color;
	text-align: center;
	margin-top: 50%;
	border-radius: 0;
	font-size: 1.5em;



}

button.btn.btn-primary:active {
	content:"";
	
}

header {
	width: 100%;
	height: 2em;
	background-color: $accent-color;
}

div#diagonal_nav {
	height: 2.5em;
	width: 100%;
	margin-top: 2.5em;
	background:repeating-linear-gradient(
		135deg,
  		transparent,
  		transparent 15px,
  		$primary-color 15px,
  		$primary-color 25px
  	)
}

#grey_nav {
	width: 100%;
	height: 2.3em;
	background-color: $grey-color;
}

span {
	float: right;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	margin-right: 5em;


}









	
		