//login page
html,
body {
	// background-color: #b3b3b3; grey standard color
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(1,61,121,1), rgba(0, 113, 179, 0.9), rgba(91, 178, 213, 0.9), rgba(255,255,255,0.4)), url(https://hd.unsplash.com/photo-1455735459330-969b65c65b1c); 
	#login_container {
		margin: auto;
  		position: absolute;
  		top: 0; left: 0; bottom: 0; right: 0;
		box-shadow: 0 0 3em #000000; //maybe play around with this more
		height: 30%;
		width: 75%;
		img {
			height: 100%;
			width: 55%;
			-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    		// filter: grayscale(100%);
 			object-fit: cover;
  		}
		#submit_container {
			background-color: $accent-color;
			height: 100%;
			width: 15%;
			float: right;
		}
		#login {
			background-color: $primary-color;
			height: 100%;
			width: 30%;
			float: right;
			input.form-control {
				width: 80%;
				margin:0 2em 2em 2em;
				background-color: $grey-color;
				color: white;
			}
		}
	}
}

p {
	color: $accent-color;
	font-size: 2.5em;
	margin: 0;
}

button.btn.btn-primary {
	background-color: $grey-color;
	border-color: $grey-color;
	color: $primary-color;
	float: none;
	text-align: center;
}

header {
	width: 100%;
	height: 2em;
	background-color: $accent-color;
}

#diagonal_nav {
	height: 2em;
	width: 100%;
	background:repeating-linear-gradient(
		135deg,
  		rgba(0, 113, 179, 0.9),
  		rgba(0, 113, 179, 0.9) 20px,
  		$grey-color 20px,
  		$grey-color 30px
  	)
}










	
		